body {
    margin: 0px
}

#banner {
    width: 100%;
}

.principal {
    background: gainsboro;
    padding: 30px;
    margin: 0px;
}

.tituloPrincipal {
    padding-left: 20px;
}

.tituloCentralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: red
}

.beneficios {
    background: #FFFFFF;
    padding: 20px
}

ul {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    width: 30%;
    padding-right: 15%;
}

.itens {
    font-style: italic
}

.beneficiosImagem {
    width: 50%;
}